.contactmainbox{
    padding: 20px;
}
@keyframes glowing {
  0% { box-shadow: 0 0 10px #21bec9; }
  50% { box-shadow: 0 0 40px #db17db; }
  100% { box-shadow: 0 0 10px #21a7c9; }
}
.contactmainbox2{
  border:1px solid  #218bc9;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  max-width: 500px;
  animation: glowing 2s infinite;
}
.contact-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background:linear-gradient(to right, #ce36d3, #2e9cbd);
    border-radius: 10px;
  }
  
  .contact-container h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='email'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type='submit']:hover {
    background-color: #45a049;
  }
  
  textarea {
    height: 120px;
  }

.mapouter {
  margin: 0 auto;
  max-width: 500;
  border:1px solid yellow;
  border-radius: 10px;
  margin-top: 20px;
  padding:10px;
  position: relative;
  text-align: center;
  color:greenyellow;
}

.gmap_canvas {
  overflow: hidden;
  padding: 10px;
  border:1px solid white;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 500px;
  height: 270px;
}

.gmap_iframe {
  height: 250px!important;
}
